/* Style for the container element */
body {
  background-image: url("gurubackground4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  max-width: 900px; /* Adjust container width as needed */
  margin: 0 auto;
  padding: 30px; /* Adjust padding for spacing around content */
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add subtle drop shadow */
  border-radius: 8px;
}

/* Style for headings */
h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 600; /* Increase font weight for bolder appearance */
  color: #333;
  margin-bottom: 20px;
}

/* Style for input fields */
#locationInput, #dateSelector {
  width: 100%; /* Make inputs stretch to full width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Style for buttons */
#searchLocation, #getCurrentLocation {
  padding: 10px 20px; /* Increase button padding for better visual balance */
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 15px; /* Adjust spacing between buttons */
  font-weight: 600; /* Increase font weight for bolder appearance */

  /* Add a subtle hover effect */
  &:hover {
    background-color: #0069d9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

/* Style for the result area */
.result {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
}
